
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <form [formGroup]="tuorForm" (ngSubmit)="editTuor()"  >
        <div class="text-left" >
          <label>title</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="title"
                 id="itle" placeholder="name" value="{{tour.title}}">
        </div>
        <div class="text-left">
          <label>price</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="price"
                 id="price" placeholder="price" value="{{tour.price}}">
        </div>
        <div class="text-left">
          <label>quantity</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="description"
                 id="description" placeholder="quantity" value="{{tour.description}}">
        </div>
        <button type="submit" class="btn btn-success">edit</button>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>




